<% provide(:title, 'Create new pool!') %>
<h1>Create a new pool</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for([@game, @pool]) do |f| %>

			<%= f.hidden_field :game_id, :value=>params[:game_id] %>

				<%= f.label :game_type, "Choose a Game Type" %>
				<%= f.select(:game_type, options_for_select([
							['Pick The Winner', '1'],
							['Closest Score', '2'],
							['Total Game Score', '3']
						])) %>

			<%= f.label :user_credits, "Drops needed to join Bucket (Buy In)" %>
			<%= f.select(:user_credits, options_for_select([
							['5', '5'],
							['10', '10'],
							['15', '15'],
							['20', '20'],
							['25', '25']
						])) %>

			<%= f.label :max_players, "Total Amount of friends allowed in the pool" %>
			<%= f.text_field :max_players %>

			<%= f.submit "Create new pool", class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>