<% provide(:title, @pool.name) %>
<h1> <%= @pool.name %> </h1>
</br>
	<div>
			<div>
				<h3> Game Type: <%= pool_name(@pool) %> </h3>
			</div>
		</br>
			<section class="row">

				<aside class="span4">
					<table class="table table-bordered">
					<tr>
						<th> Pool Instructions: <%= pool_instructions(@pool) %>

						</th>
					</tr>
					</table>
				</aside>

				<div class="span5 offset2">
					<table class="table table-bordered">
						<tr>
							<th style="width: 120px;"> Players in Pool: <%= @pool.players_count %> / <%= @pool.max_players %> </th>
						</tr>
						<tr>
							<th style="width: 90px;"> Pool Buy in: <%= @pool.user_credits %></th>
						</tr>
						<tr>
							<th style="width: 220px"> Credits contributed to this pool: <%= @pool.credit_counter %> / <%= @pool.credit_limit %> </th>
						</tr>
					</table>
				</div>
			</section>

		<section class="row">

			<%# Show Friend Pictures for Teams (Pick The Winner)%>
			<% if @pool.game_type == 1 %>
				<div class="span5 team_facepile_1">
					<h3>Team One (<%= @pool.game.team_one %>)</h3>
					</br>
					<% @players.each do |player| %>
						<% if player.team == 1 %>
							<div><%= profile_pic_for player.user, :player %></div>
						<% end %>
					<% end %>
				</div>
				<div class="span1">
					<h3>vs.</h3>
				</div>
				<div class="span5 team_facepile_1">
					<h3>Team Two (<%= @pool.game.team_two %>)</h3>
					</br>
					<% @players.each do |player| %>
						<% if player.team == 2 %>
							<div><%= profile_pic_for player.user, :player %></div>
						<% end %>
					<% end %>
				</div>
			<% end %>

			<%# Show Friend Pics for Closest Score %>
				<% if @pool.game_type == 2 %>
					<h3>Players:</h3>
					</br>
					<div class="span12 closest_facepile_2">
						<% @players.each do |player| %>
									<table>
									<tr>
										<td>
										<%= profile_pic_for player.user, :player %>
										</td>
									</tr>
									<tr>
										<td>
										<%= predicted_score(player) %>
										</td>
									</tr>
									</table>
						<% end %>
					</div>
				<% end %>

			<%# Show Friend Pics for Total Score %>
				<% if @pool.game_type == 3 %>
					<h3>Players:</h3>
					</br>
					<div class="span12 closest_facepile_2">
						<% @players.each do |player| %>
									<table>
									<tr>
										<td>
										<%= profile_pic_for player.user, :player %>
										</td>
									</tr>
									<tr>
										<td>
										<%= predicted_score(player) %>
										</td>
									</tr>
									</table>
						<% end %>
					</div>
				<% end %>
		</section>

	</br>

		<%# Show render join_forms to join specific type of pool %>
		<section>
			<% if @pool.game_type == 1 %>
				<%= render 'shared/join_pick_winner_form' %>
			<% end %>

			<% if @pool.game_type == 2 %>
				<%= render 'shared/join_closest_score_form' %>
			<% end %>

			<% if @pool.game_type == 3 %>
				<%= render 'shared/join_total_score_form' %>
			<% end %>
		</section>
	</div>
